.ant-modal-content {
  background: rgba(192, 192, 192, 0.2);
  border: 1px solid rgba(192, 192, 192, 0.2);
  box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 16px;
}
/*default version*/
@font-face {
  font-family: "Martian Mono";
  src: local("Martian Mono"),
    url("fonts/martian_mono/ttf/MartianMono-StdRg.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-image: url(assets/Snapchain_Background.png);
  overflow: hidden;
  padding-bottom: 20px;
}
#root {
  overflow: auto;
}
/* ant overrides */
.ant-modal-header {
  background: transparent;
}

.ant-modal-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}

.ant-modal-close-x {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 8px;
  height: 40px;
  width: 40px;
  margin: 20px;
  color: #ffffff;
  background: rgba(45, 45, 45, 0.8);
  border: 1px solid rgba(192, 192, 192, 0.2);
  border-radius: 8px;
  margin: 2px;
}

.ant-input {
  align-items: center;
  padding: 12px;
  gap: 8px;
  width: 62px;
  height: 40px;
  background: rgba(45, 45, 45, 0.8);
  color: white;
  border: 1px solid rgba(192, 192, 192, 0.2);
  border-radius: 8px;

  margin-bottom: 8px;
}

.ant-input-group {
  margin: 0px 0px 8px 0px;
  padding: 0px 8px 0px 0px;
}

.ant-input-group-addon {
  background: rgba(45, 45, 45, 0.8);
  border: 1px solid rgba(192, 192, 192, 0.2);
  border-radius: 8px;
  color: white;
}

.ant-input-group-wrapper {
  margin: 0px 8px 0px 0p;
}

.ant-card-body {
  padding: 8px;
}

.ant-card {
  background: transparent;
}
